.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	box-sizing: border-box;
	font-weight: bold;
	@media (max-width: 425px) {
		font-size: 10px;
		padding: 0;
	}
	a {
		gap: 5px;
	}
	&-item {
		text-decoration: none;
		margin-right: 0.5rem;
		&:hover {
			text-decoration: underline;
		}
	}
	&-logo {
		display: flex;
		align-items: center;
		img {
			max-width: 100%;
			width: 200px;
		}
	}
	.connectionLinks {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 30px;
		margin-right: 30px;
		a {
			color: #5db574;
			display: flex;
			gap: 5px;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: 768px) {
			gap: 15px;
			margin-right: 10px;
		}
		.userName {
			font-weight: bold;
			font-size: 20px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 40px;
			color: #5db574;
			gap: 10px;
			@media (max-width: 768px) {
				font-size: 16px;
				padding: 0;
			}
			@media (max-width: 425px) {
				font-size: 10px;
				padding: 0;
			}

			.fa-user-circle {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.fa-power-off {
			font-size: 20px;
			@media (max-width: 425px) {
				font-size: 14px;
				padding: 0;
			}
		}
	}
}
